/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
/* Components */
@import './components/variables';
@import './components/body';
@import './components/container';
@import './components/movies-gallery';
@import './components/base';
@import './components/icons';

/* Partials */
@import './partials/header';
@import './partials/footer';
