<div class="container button-list__box">
  <ul class="button-list">
    <li class="button-list__element">
      <button id="left-arrow-btn" class="button-list__button button-list__button-arrows">
        <svg class="icon-arrow" type="button">
          <use href="./images/icons.svg#arrow-left-pagination"></use>
        </svg>
      </button>
    </li>
    <li class="button-list__element button-list__counter tui-pagination"></li>
    <li class="button-list__element">
      <button id="right-arrow-btn" class="button-list__button button-list__button-arrows">
        <svg class="icon-arrow" type="button">
          <use href="./images/icons.svg#arrow-right-pagination"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>