<div class="footer">
  <ul class="footer-list list">
    <li class="footer-element">
      <p class="footer-element__paragraph">© 2020 | All Rights Reserved |</p>
    </li>
    <li class="footer-element"><p class="footer-element__paragraph">Developed with</p></li>
    <li class="footer-element">
      <svg class="heart-icon">
        <use href="./images/icons.svg#icon-heart"></use>
      </svg>
    </li>
    <li class="footer-element">
      <p class="footer-element__paragraph">
        by <span class="footer-highlight"> GoIT Students</span>
      </p>
    </li>
  </ul>
</div>
