<div class="header">
  <div class="container">
    <div class="header-box">
      <div class="header-logo">
        <a class="link" href="/src/index.html">
          <svg class="film-icon">
            <use href="./images/icons.svg#icon-film"></use>
          </svg>
          <p class="header-logo__text">Filmoteka</p></a
        >
      </div>
      <ul class="navigation list">
        <li class="navigation-element highlight__home">
          <a class="navigation-link" href="/src/index.html">HOME</a>
        </li>
        <li class="navigation-element">
          <a class="navigation-link" href="/src/library.html">MY LIBRARY</a>
        </li>
      </ul>
    </div>
    <div class = "notification-container">
        <p class="notification-alert"></p>
    </div>
    <form class="search-form" id="search-form">
      <input
        class="search-form--input"
        type="text"
        name="searchForm"
        autocomplete="off"
        placeholder="Movie search"
      />
      <div class="search-form--button-box">
        <button type="submit" class="search-form--button">
          <svg class="search-icon" type="button">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </form>

  </div>
  
</div>