<div class="header">
  <div class="container header-box">
    <div class="header-logo">
      <svg class="film-icon">
        <use href="./images/icons.svg#icon-film"></use>
      </svg>
      <p class="header-logo__text">Filmoteka</p>
    </div>
    <ul class="navigation list">
      <li class="navigation-element">
        <a class="navigation-link" href="./">HOME</a>
      </li>
      <li class="navigation-element"><a class="navigation-link" href="./">MY LIBRARY</a></li>
    </ul>
  </div>
</div>
