<div class="header-library">
  <div class="container">
    <div class="header-box header-box__library">
      <div class="header-logo">
        <a class="link" href="/src/index.html"
          ><svg class="film-icon">
            <use href="./images/icons.svg#icon-film"></use>
          </svg>
          <p class="header-logo__text">Filmoteka</p></a
        >
      </div>
      <ul class="navigation list">
        <li class="navigation-element">
          <a class="navigation-link" href="/src/index.html">HOME</a>
        </li>
        <li class="navigation-element highlight__library">
          <a class="navigation-link" href="/src/library.html">MY LIBRARY</a>
        </li>
      </ul>
    </div>
    <div class="header-buttons-box">
      <button class="header-button is-active" id="watched-btn">Watched</button>
      <button class="header-button" id="queue-btn">Queue</button>
    </div>
  </div>
</div>
