<div class="modal-devs modal-devs-hidden" data-dev-modal>
    <div class="modal-devs-container">
            <h2 class="modal-devs__header">Our team</h2>
        <div class="modal-devs__slider">  
            <button class="modal-devs__btn btn-prev" data-slider-button="prev">&#10094</button>
            <button class="modal-devs__btn btn-next" data-slider-button="next">&#10095</button>
            <ul class="modal-devs__slide-list">
                <li class="modal-devs__slide">
                    <img class="modal-devs__image" src="./images/image1.jpeg" alt="Joanna Jasińska"></img>
                    <div class="modal-devs__description">
                        <h2 class="modal-devs__position">Team Leader</h2>
                        <p class="modal-devs__name">Joanna Jasińska</p>
                    </div>
                </li>
                <li class="modal-devs__slide slide-hidden" data-active>
                    <img class="modal-devs__image" src="./images/image2.jpeg" alt="Maciej Sikora"></img>
                    <div class="modal-devs__description">
                        <h2 class="modal-devs__position">Scrum Master</h2>
                        <p class="modal-devs__name">Maciej Sikora</p>
                    </div>
                </li>
                <li class="modal-devs__slide slide-hidden">
                    <img class="modal-devs__image" src="./images/image3.jpeg" alt="Dominika Kuroś"></img>
                    <div class="modal-devs__description">
                        <h2 class="modal-devs__position">Developer</h2>
                    <p class="modal-devs__name">Dominika Kuroś</p>
                    </div>
                </li>
                <li class="modal-devs__slide slide-hidden">
                    <img class="modal-devs__image" src="./images/image4.jpeg" alt="Joanna K"></img>
                    <div class="modal-devs__description">
                        <h2 class="modal-devs__position">Developer</h2>
                        <p class="modal-devs__name">Joanna K</p>
                    </div>
                </li>
                <li class="modal-devs__slide slide-hidden">
                    <img class="modal-devs__image" src="./images/image1.jpeg" alt="Magdalena Kuśmierczak"></img>
                    <div class="modal-devs__description">
                        <h2 class="modal-devs__position">Developer</h2>
                        <p class="modal-devs__name">Magdalena Kuśmierczak</p>
                    </div>
                </li>
                <li class="modal-devs__slide slide-hidden">
                    <img class="modal-devs__image" src="./images/image2.jpeg" alt="Danka Proszkiewicz"></img>
                    <div class="modal-devs__description">
                        <h2 class="modal-devs__position">Developer</h2>
                    <p class="modal-devs__name">Danka Proszkiewicz</p>
                    </div>
                </li>
                <li class="modal-devs__slide slide-hidden">
                    <img class="modal-devs__image" src="./images/image3.jpeg" alt="Jonasz Chudobski"></img>
                    <div class="modal-devs__description">
                        <h2 class="modal-devs__position">Developer</h2>
                        <p class="modal-devs__name">Jonasz Chudobski</p>
                    </div>
                </li>
                <li class="modal-devs__slide slide-hidden">
                    <img class="modal-devs__image" src="./images/image4.jpeg" alt="Maciej Kociemski"></img>
                    <div class="modal-devs__description">
                        <h2 class="modal-devs__position">Developer</h2>
                        <p class="modal-devs__name">Maciej Kociemski</p>
                    </div>
                </li>
                <li class="modal-devs__slide slide-hidden">
                    <img class="modal-devs__image" src="./images/image1.jpeg" alt="Krystian Więcek"></img>
                    <div class="modal-devs__description">
                    <h2 class="modal-devs__position">Developer</h2>
                    <p class="modal-devs__name">Krystian Więcek</p>
                </div>
                </li>
            </ul>
        </div>  
    </div>
</div>

