.list {
  list-style: none;
}
.link,
.link:active,
.link:visited {
  text-decoration: none;
  color: $main-white;
}

.movie-card__image,
.movie-details__image {
  background-image: url('/src/images/coming_soon.jpg');
  background-position: center;
  background-size: cover;
}
