.container {
  padding: 0 20px;
  margin: 0 auto;
  min-width: 320px;

  @include tablet {
    padding: 0 32px;
    max-width: 768px;
  }
  @include desktop {
    padding: 0 32px;
    max-width: 1280px;
  }
}
