.container-movies {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  @include tablet {
    gap: 32px;
  }
}
.movie-card {
  cursor: pointer;
  width: 280px;
  @include tablet {
    width: 336px;
  }
  @include desktop {
    gap: 16px;
    row-gap: 32px;
    width: 394px;
  }
}
