.film-icon {
  width: 24px;
  height: 24px;
}

.heart-icon {
  width: 14px;
  height: 12.75px;
  fill: $main-orange;
  margin-inline: 10px;
  @include tablet {
    height: 12.88px;
  }
}
.search-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: -6px;
  left: 0px;
}
.icon-arrow {
  display: inline-block;
  width: 28px;
  height: 28px;
  stroke: currentColor;
  fill: currentColor;
}
.close-icon {
  width: 30px;
  height: 30px;
  stroke: currentColor;
  fill: currentColor;
}
