.icon-arrow {
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-size: contain;
  background-position: center;
  font-size: 12px;
  font-weight: 500;
  &-prev {
    content: url(../images/icon-arrow-prev.svg);
    &.icon-arrow-hits {
      display: none !important;
    }
  }
  &-next {
    content: url(../images/icon-arrow-next.svg);
    &.icon-arrow-hits {
      display: none !important;
    }
  }
  &-first {
    color: $main-black;
    &.icon-arrow-hits {
      display: none !important;
    }
  }
  &-last {
    color: $main-black;
    &.icon-arrow-1 {
      display: none !important;
    }
  }
}
.tui-pagination {
  height: 40px;
  display: flex;
  gap: 3px;
  justify-content: center;
  .tui-page-btn {
    font-weight: 500 !important;
    width: 40px !important;
    height: 40px !important;
    border: 1px solid transparent !important;
    border-radius: 5px;
    padding: 7px !important;
    margin: 0 !important;
    background-color: white;
    transition: 250ms;
    cursor: pointer;
  }
  .tui-first {
    position: relative;
    left: 44px;
    padding: 7px !important;
  }
  .tui-last {
    padding: 7px !important;
    position: relative;
    left: 0px;
    @include tablet {
      left: -44px;
    }
  }
  .tui-prev {
    position: relative;
    background-color: $pagination-btn-gray;
    padding: 10px !important;
    left: 0px;
    @include tablet {
      left: -40px;
    }
  }
  .tui-next {
    position: relative;
    background-color: $pagination-btn-gray;
    padding: 10px !important;
    left: 0px;
    @include tablet {
      left: 40px;
    }
  }
  .tui-prev-is-ellip,
  .tui-next-is-ellip {
    font-size: 12px !important;
  }
  .tui-is-selected {
    background-color: $main-orange !important;
    color: $main-white !important;
    cursor: pointer !important;
    &:hover {
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.07),
        0px 2px 2px rgb(0, 0, 0);
    }
  }
  .tui-is-disabled,
  .page-1 {
    display: none !important;
  }
  .tui-page-nr {
    display: block;
    width: 100%;
    margin: 0;
  }
  .tui-non-selected:hover {
    background-color: white !important;
    border: 1px solid $main-orange !important;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.07),
      0px 2px 2px rgba(255, 107, 8, 1);
  }
}
