.icon-arrow {
  // margin: auto;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-size: contain;
  background-position: center;
  font-size: 0.8rem;
  // display: inline-block;
  &-prev {
    content: url(../images/icon-arrow-prev.svg);
  }
  &-next {
    content: url(../images/icon-arrow-next.svg);
  }
  &-first {
    color: $main-black;
  }
  &-last {
    color: $main-black;
  }
}

.tui-page-btn {
  width: 40px !important;
  height: 40px !important;
  border: none !important;
  border-radius: 5px;
  padding: 14px !important;

  // & .icon-arrow {
  //   margin: auto !important;
  // }
}

.tui-first,
.tui-last {
  padding: 6px !important;
}
.tui-prev,
.tui-next {
  background-color: $pagination-btn-gray;
  padding: 10px !important;
}
.tui-prev-is-ellip,
.tui-next-is-ellip {
  padding: 6px !important;
}

.tui-is-selected {
  background-color: $main-orange !important;
  color: $main-white !important;
  // border-color:
}
.tui-is-disabled {
  display: none !important;
}
// .tui-is-disabled > .icon-arrow {
//   stroke: $btn-disabled;
// }
