.header {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-clip: padding-box;
  background-position: center;
  background-color: $main-black;
  background-image: $header-overlay, url('../images/main-background-mobile.png');
  @include mobile-retina {
    background-image: $header-overlay, url('../images/main-background-mobile@2x.png');
  }
  @include tablet {
    background-image: $header-overlay, url('../images/main-background-tablet.png');
  }
  @include tablet-retina {
    background-image: $header-overlay, url('../images/main-background-tablet@2x.png');
  }
  @include desktop {
    background-image: $header-overlay, url('../images/main-background-desktop.png');
  }
  @include desktop-retina {
    background-image: $header-overlay, url('../images/main-background-desktop@2x.png');
  }
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 54px;
    @include tablet {
      padding-bottom: 40px;
    }
    @include desktop {
      padding-bottom: 41px;
    }
  }
  &-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    @include desktop {
      gap: 10px;
    }
    &__text {
      display: none;
      @include tablet {
        display: inline;
        font-family: $main-font;
        font-size: 30px;
        font-weight: 500;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
  }
}
.navigation {
  display: flex;
  gap: 40px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  &-link,
  &-link:active,
  &-link:visited {
    text-decoration: none;
    color: $main-white;
  }
}
