.backdrop {
  background-color: $film-card-modal-overlay;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: $main-black;
  z-index: 3;
  transition: ease-in-out 300ms;
}
.modal {
  transition: ease-in-out 300ms;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  box-sizing: border-box;
}
.close-btn {
  padding: 0px 0px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}
.modal-wrapper {
  box-sizing: border-box;
  background-color: $main-white;
  width: 290px;
  height: 940px;
  margin-top: 20px;
  margin-inline: auto;
  opacity: 1;
  position: relative;
  transition: ease-in-out 3000ms;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @include tablet {
    width: 704px;
    height: 552px;
    margin-top: 219px;
    margin-inline: auto;
  }
  @include desktop {
    width: 806px;
    height: 558px;
    margin-top: 150px;
    margin-inline: auto;
  }
}
.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-inline: 20px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  align-items: center;

  @include tablet {
    align-items: flex-start;
    gap: 68px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-right: 42px;
    padding-left: 32px;
  }
  @include desktop {
    padding-inline: 12px;
    align-items: flex-start;
    gap: 16px;
  }
  &__content-wrapper {
    max-width: 240px;
    @include tablet {
      max-width: 264px;
    }
    @include desktop {
      max-width: 391px;
    }
  }
  &__image {
    width: 240px;
    height: 357px;
    border-radius: 5px;
    background-image: url('/src/images/coming_soon.jpg');
    background-position: center;
    background-size: cover;
    @include tablet {
      width: 264px;
      height: 373.55px;
    }
    @include desktop {
      width: 375px;
      height: 478px;
    }
  }
  &__title {
    font-size: 20px;
    line-height: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    @include tablet {
      margin-top: 0px;
    }
    @include desktop {
      font-size: 30px;
      line-height: 35px;
    }
  }
  &__list {
    padding: 0;
    margin-top: 0px;

    &-paragraph {
      font-size: 12px;
      line-height: 16px;
      color: $movie-card-gray;
      margin-block: 0px;
      display: inline-flex;
      margin-top: 0px;
      margin-bottom: 8px;
      &-gap {
        gap: 39px;
        @include desktop {
          gap: 83px;
        }
      }
      & .no-brake {
        white-space: nowrap;
      }
    }
  }
  &__average {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
    line-height: 14px;
    color: $main-white;
    background-color: $orange-button;
    border-radius: 5px;
    width: 36px;
    height: 16px;
    margin-left: 41px;
    margin-right: 3px;
    @include desktop {
      margin-left: 85px;
    }
  }
  &__vote-count {
    width: 36px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: $main-black;
    background-color: $gray-detail;
    border-radius: 5px;
    font-size: 12px;
    line-height: 14px;
  }
  &__popularity {
    font-size: 12px;
    line-height: 14px;
    color: $main-black;
    margin-left: 53px;
    @include desktop {
      margin-left: 97px;
    }
  }
  &__original-title {
    text-transform: uppercase;
    color: $main-black;
  }
  &__genres {
    color: $main-black;
    margin-left: 76px;
    @include tablet {
      margin-left: 76px;
    }
    @include desktop {
      margin-left: 120px;
    }
  }
  &__about-title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-top: 12px;
    padding-bottom: 8px;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  &__overview {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }
  &__buttons {
    display: flex;
    gap: 20px;
    margin-left: 4px;
    @include tablet {
      gap: 15px;
    }
  }
  &__button {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 110px;
    height: 44px;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid;
    padding-inline: 0px;
    padding-block: 0px;
    will-change: bordercolor, color, background-color;
    transition: 250ms;
    transition-timing-function: $main-transition-cubic;
    cursor: pointer;
    @include tablet {
      padding-inline: 9px;
      width: 125.03px;
      height: 44px;
    }
    @include desktop {
      width: 136px;
      height: 44px;
    }
  }
}

.buttons-modal__watched {
  padding-inline: 26px;
  color: $main-white;
  background-color: $main-orange;
  border-color: $main-orange;
  @include tablet {
    padding-inline: 0px;
  }
}
.buttons-modal__queue {
  color: $main-black;
  border-color: $main-black;
  background-color: $main-white;
}
.buttons-modal__watched:hover,
.buttons-modal__watched:focus {
  background-color: $orange-hover;
  border-color: $orange-hover;
  transform: scale(1.05);
}
.buttons-modal__queue:hover,
.buttons-modal__queue:focus {
  color: $main-white;
  background-color: $orange-hover;
  border-color: $orange-hover;
  transform: scale(1.05);
}
